@media (width)

*{
    margin : 0;
    padding : 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  
}

#container{
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

#header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 9%; 
    padding: 5px;
}

#menu{
    margin-right: 5%;
    gap: 40px;
    align-items: center;
    display: flex;

}

.menubutton{
    background-color: transparent;
    width: 120px;
    height: 30px;
    margin-left: 30px;
    border-radius: 40px;

}

#toggle{
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#heroelement{
    width: calc(100% - 5%);
    height: 667px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#textarea{
    margin:50px 0;
    padding: 70px 100px 70px 100px;
}

h3{
    height: 10%;
    align-content: center;
}

h1 {
    height: 22.5%;
    font-size: 4rem;
}

#description {
    font-weight: 100;
    line-height: 150%;
}

#herobtn{   
    margin: 2.5% 5% 0 -2%;
    display: flex;
}

#herobtn button{
    background-color:transparent;
}   

.herobutton img{
    color: white;
    margin: 0;
    border-radius: 40%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.twitter img{
    border-radius: 40%;
    overflow: hidden;
    height: 55px;
    width: 55px;
}

.linkedin img{
    margin: 0;
    border-radius: 40%;
    overflow: hidden;
    height: 75px;
    width: 75px;
}

img{
    border-radius: 50%;
    margin: 70px 80px 0px 10px;
}

#footer{
    background-color: black;
    height: 450px;
    width: 100%;   
    padding: 10px; 
}

#footercontent{
    padding: 30px 80px;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

#footsection h3{
    margin: 15px 0;
    margin-bottom: 20px;
    color: white;

}

#footsection a{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom:-8px;
    margin-left: 10px;
}

#contacthere {
    align-self:flex-end;
}

#contacthere a{
    color: white;
    text-decoration: none;
}

hr{
    height: 0.1em;
    background-color: white;
}

p{
    color: #555;
    margin-top: 15px;
    justify-self:end;
}


